:root {
    --color-bg-page: #f5f7fa;
    --color-text-primary: #303133;
    --color-bg-navbar: #ffffff;
    --color-border-light: #e4e7ed;
    --content-max-width: 762px;
    --sidebar-width: 48px;

    /* 阅读页专用（默认主题） */
    --read-bg: #e9e9e9;
    --read-content-bg: #f1f1f1;
    --read-text-color: #000000e6;
}
